# Database
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=hackaton
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

# Ports
DB_PORT=3306
DB_PORT_HOST=3306
API_PORT=3001
API_PORT_HOST=3001
FRONTEND_PORT_HOST=5173

# App
NODE_ENV=production
DB_HOST=db
DB_USERNAME=root
DB_NAME=hackaton
VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=http://api:3001